In [1]:
import pyodbc
import csv
import pandas as pd

In [2]:
s_conn = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=PHX_D4G;UID=datascientist;PWD=s5phenix$'

cnx = pyodbc.connect(s_conn)

In [3]:
def Query2DF(query):
    cursor = cnx.cursor()
    try:
        cursor.execute(query)
        headers = [x[0] for x in cursor.description]
        rows = cursor.fetchall()
        df = pd.DataFrame([list(l) for l in rows], columns=headers)
        return df
    finally:
        if cursor is not None:
            cursor.close()

In [4]:
def _clean(row):
    L = []
    for col in list(row):
        try:
            col = col.replace('\n', '<br>').replace('\r', '')
        except:
            None
        L.append(col)
    return L

def Query2CSV(query, filepath='dump.csv'):
    cursor = cnx.cursor()
    try:
        cursor.execute(query)
        headers = [x[0] for x in cursor.description]
        with open(filepath, 'w') as csvfile:
            writer = csv.writer(csvfile)
            first = True
            rows = []
            while (first or (len(rows) > 0)):
                rows = cursor.fetchmany(1000)
                df = pd.DataFrame([_clean(row) for row in rows], columns=headers)
                df.to_csv(csvfile, header=first, sep=';', line_terminator='\n', encoding='utf-8')
                first = False
    finally:
        if cursor is not None:
            cursor.close()

In [5]:
Q = "SELECT * FROM INFORMATION_SCHEMA.TABLES"

Query2DF(Q)

  TABLE_CATALOG TABLE_SCHEMA         TABLE_NAME  TABLE_TYPE
0       PHX_D4G          dbo   CommandeProduits  BASE TABLE
1       PHX_D4G          dbo          Commandes  BASE TABLE
2       PHX_D4G          dbo            Comptes  BASE TABLE
3       PHX_D4G          dbo      OffreProduits  BASE TABLE
4       PHX_D4G          dbo             Offres  BASE TABLE
5       PHX_D4G          dbo           Produits  BASE TABLE
6       PHX_D4G          dbo  CategorieProduits  BASE TABLE

In [6]:
Q = "SELECT * FROM Comptes"

Query2DF(Q).head(5)[['Id', 'Adresse_CodePostal', 'Adresse_Ville', 'MoyenLogistique', 'TypeCompte', 'TypeClient_Id']]

,Id,Adresse_CodePostal,Adresse_Ville,MoyenLogistique,TypeCompte,TypeClient_Id
0,1,75010,PARIS,None,1,14.0
1,2,75010,PARIS,None,1,5.0
2,3,75010,PARIS,None,2,1.0
3,4,75010,PARIS,None,2,NaN
4,5,31400,TOULOUSE,None,1,14.0

In [7]:
for table_name in list(Query2DF("SELECT * FROM INFORMATION_SCHEMA.TABLES")['TABLE_NAME']):
    Q = "SELECT COUNT(*) FROM {}".format(table_name)
    print(table_name+' => '+str(Query2DF(Q).values[0][0]))

CommandeProduits => 3676721
Commandes => 66905
Comptes => 2519
OffreProduits => 3696914
Offres => 66271
Produits => 946612
CategorieProduits => 20

In [8]:
def Table2CSV(table_name):
    Query2CSV("SELECT * FROM {}".format(table_name), filepath='dump_'+table_name+'.csv')

In [9]:
if False:
    Table2CSV('CategorieProduits')

In [10]:
if False:
    Table2CSV('Commandes')

In [11]:
if True:
    Table2CSV('Offres')

In [12]:
df = Query2DF("SELECT * FROM Offres")

In [13]:
DB_DEFAULT_DOMAIN = 'PHX_D4G'

In [14]:
import sqlalchemy
import http.client
import time

MYSQL_USER = 'datascientist'
MYSQL_PWD = 'Data4Good$'
MYSQL_HOST = 's5d4g.c3jthaob5o7i.eu-west-1.rds.amazonaws.com'


def getEngineDB(domain='PHX_D4G', echo=False):
    alch_url = 'mysql+pymysql://%s:%s@%s:3306/%s?charset=utf8' % (MYSQL_USER, MYSQL_PWD, MYSQL_HOST, domain)
    return sqlalchemy.create_engine(alch_url, echo=echo, encoding="utf-8")

In [15]:
getEngineDB(echo=False)

Engine(mysql+pymysql://datascientist:***@s5d4g.c3jthaob5o7i.eu-west-1.rds.amazonaws.com:3306/PHX_D4G?charset=utf8)

In [16]:
from functools import wraps

def get_copy_only(f):
    @wraps(f)
    def wrapper(*args, **kwds):
        #print('Calling decorated function')
        #print(args, kwds)
        return f(*args, **kwds).copy()
    return wrapper


# INFO : best not to cache such generic function
def getQueryDF(myquery, domain=DB_DEFAULT_DOMAIN):
    """
        Query Example :
            "SELECT * FROM Commandes LIMIT 5;"
    """
    
    assert (type(myquery) == str) # for safety
    assert (myquery.upper().startswith('SELECT ') or myquery.upper().startswith('SHOW ')) # for safety
    assert not('DROP' in myquery.upper()) # for safety
    assert not('DELETE' in myquery.upper()) # for safety
    
    eng = getEngineDB(domain=domain, echo=False)
    with eng.connect() as cnx:
        res = cnx.execute(myquery)
        
    return pd.DataFrame(res.fetchall(), columns=res.keys())

In [17]:
import time
import pandas as pd
import numpy as np
from datetime import timedelta, date
import datetime


# http://docs.sqlalchemy.org/en/latest/orm/tutorial.html
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float, BigInteger, SmallInteger, Numeric, Boolean, DateTime
from sqlalchemy import Sequence
from sqlalchemy.schema import Index

BaseI = declarative_base()


ECHO = False # INFO : usefull to debug

In [18]:
# *************************************************************
# *******************   Commandes   ***************************
# *************************************************************


class Commandes(BaseI):
    
    __tablename__ = 'Commandes'
    
    #id = Column(Integer, primary_key=True)
    Id = Column(Integer, primary_key=True)
    # DATA FIELDS
    DateCommande    = Column(DateTime, nullable=True)
    Descriptif      = Column(String(50), nullable=True)
    EstReceptionne  = Column(Boolean, nullable=True)
    Libelle         = Column(String(50), nullable=True)
    MotifAnnulation = Column(String(50), nullable=True)
    Statut          = Column(Integer, nullable=True)
    Offre_Id        = Column(Integer, nullable=True)
    Recepteur_Id    = Column(Integer, nullable=True)
    
    

def init_Commandes(domain=DB_DEFAULT_DOMAIN):
    
    # INFO : now that the csv has been validated we can update the table
    DBENGINE = getEngineDB(domain=domain, echo=ECHO)
    
    # INFO : DROP the table if it already exists
    try:
        Commandes.__table__.drop(DBENGINE)
    except:
        None
    BaseI.metadata.tables['Commandes'].create(bind=DBENGINE)

In [19]:
if False:
    init_Commandes(domain=DB_DEFAULT_DOMAIN)

In [20]:
getQueryDF("SHOW TABLES;")

  Tables_in_PHX_D4G
0         Commandes
1            Offres

In [21]:
def fill_table(table_name, csv_file_path, domain=DB_DEFAULT_DOMAIN):
    
    # INFO : best to load the file prior to deleting the table !
    file_data = pd.read_csv(csv_file_path, sep=';', encoding='utf-8')
    #return file_data
    # INFO : check that the CSV content meet all critera
    # Test 1 : all expected columns are present
    tbl_fields = [c.key for c in BaseI.metadata.tables[table_name].columns]
    assert np.all([(k in file_data.columns) for k in tbl_fields])
    
    # INFO : now that the csv has been validated we can update the table
    DBENGINE = getEngineDB(domain=domain, echo=ECHO)
    
    eval('init_'+table_name)(domain)
    
    # INFO : now we write it to table BUT we reload it in case DataFrame was altered
    file_data = pd.read_csv(csv_file_path, sep=';', encoding='utf-8')
    file_data[tbl_fields].to_sql(table_name, DBENGINE, index=False, if_exists='replace')

In [22]:
fill_table('Commandes', 'dump_Commandes.csv')

/home/ubuntu/anaconda3/envs/phenix/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2907: DtypeWarning: Columns (3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [23]:
getQueryDF("select * from Commandes LIMIT 5")

,Id,DateCommande,Descriptif,EstReceptionne,Libelle,MotifAnnulation,Statut,Offre_Id,Recepteur_Id
0,1,2015-07-27 21:20:08.107,None,0,None,None,1,1,3
1,2,2015-07-27 21:21:47.543,None,0,None,None,1,2,3
2,3,2015-07-27 21:22:04.437,None,1,None,None,4,2,4
3,4,2015-07-28 10:16:54.100,None,0,None,None,1,3,3
4,5,2015-07-28 10:46:55.470,None,0,None,None,1,5,3

In [24]:
# *************************************************************
# *********************    Offres    **************************
# *************************************************************

class Offres(BaseI):
    
    __tablename__ = 'Offres'
    
    Id = Column(Integer, primary_key=True)
    # DATA FIELDS
    CreationDate          = Column(DateTime, nullable=True)
    DateDebut             = Column(DateTime, nullable=True)
    DateFin               = Column(DateTime, nullable=True)
    Descriptif            = Column(String(50), nullable=True)
    InstructionRetrait    = Column(String(50), nullable=True)
    IsOpenRecepteurs      = Column(Boolean, nullable=True)
    Libelle               = Column(String(50), nullable=True)
    LivraisonAssuree      = Column(Boolean, nullable=True)
    MaxRecepteur          = Column(Integer, nullable=True)
    PertinentProductsDisplayString = Column(String(50), nullable=True)
    Statut                = Column(Integer, nullable=True)
    Compte_Id             = Column(Integer, nullable=True)
    IsForAssocaitionCerfa = Column(Boolean, nullable=True)
    DateReception         = Column(DateTime, nullable=True)
    Titre                 = Column(String(50), nullable=True)
    IsForAssociationRUP   = Column(Boolean, nullable=True)
    IsInsecable           = Column(Boolean, nullable=True)
    
    

def init_Offres(domain=DB_DEFAULT_DOMAIN):
    
    # INFO : now that the csv has been validated we can update the table
    DBENGINE = getEngineDB(domain=domain, echo=ECHO)
    
    # INFO : DROP the table if it already exists
    try:
        Offres.__table__.drop(DBENGINE)
    except:
        None
    BaseI.metadata.tables['Offres'].create(bind=DBENGINE)

In [25]:
fill_table('Offres', 'dump_Offres.csv')

/home/ubuntu/anaconda3/envs/phenix/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2907: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [26]:
getQueryDF("select * from Offres LIMIT 5")

,Id,CreationDate,DateDebut,DateFin,Descriptif,InstructionRetrait,IsOpenRecepteurs,Libelle,LivraisonAssuree,MaxRecepteur,PertinentProductsDisplayString,Statut,Compte_Id,IsForAssocaitionCerfa,DateReception,Titre,IsForAssociationRUP,IsInsecable
0,17261,2016-12-26 00:00:00.000,2016-12-26 00:00:00.000,2016-12-26 23:59:59.000,None,None,0,None,0,1,aucun Produit disponible,1,677,1,None,None,0,0
1,17262,2016-12-26 00:00:00.000,2016-12-26 00:00:00.000,2016-12-26 23:59:59.000,None,None,0,None,0,1,aucun Produit disponible,1,683,1,None,None,0,0
2,17263,2016-12-26 00:00:00.000,2016-12-26 00:00:00.000,2016-12-26 23:59:59.000,None,None,0,None,0,1,aucun Produit disponible,1,697,1,None,None,0,0
3,17264,2016-12-26 00:00:00.000,2016-12-26 00:00:00.000,2016-12-26 23:59:59.000,None,None,0,None,0,1,aucun Produit disponible,1,698,1,None,None,0,0
4,17265,2016-12-26 00:00:00.000,2016-12-26 00:00:00.000,2016-12-26 23:59:59.000,None,None,0,None,0,1,aucun Produit disponible,1,702,1,None,None,0,0